body {
    background-color: black;
    color: white;
    font-family: Tahoma;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
}

#message,
#second-message {
    line-height: 41px;
}

@media screen and (max-width: 992px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    #message,
    #second-message {
        line-height: 30px;
    }
}

#main-container {
    width: 800px;
    flex-direction: column;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#number-input {
    display: flex;
}

.myButton {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    cursor: pointer;
    color: yellow;
    font-family: Arial;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    border: 0;
}

#btn-sub {
    background-color: red;
}

#btn-sub:hover {
    background-color: rgb(87, 0, 0);
}

#btn-add {
    background-color: green;
}

#btn-add:hover {
    background-color: rgb(0, 39, 0);
}

.myButton:active {
    position: relative;
    top: 3px;
    border: none;
    outline: none;
}

.margin-top {
    margin-top: 40px;
}

#question {
    margin-top: 55px;
    display: flex;
}

#question-txt {
    align-self: center;
}

#years-to-die {
    width: 60px;
    width: 70px;
    height: 70px;
    background: blue;
    border: 0;
    text-align: center;
    color: yellow;
    font-size: 28px;
    margin: 0 20px 0 20px;
    border-radius: 100%;
}

#message,
#dots,
#second-message {
    text-align: center;
}

#dots {
    word-spacing: -3px;
    line-height: 18px;
}

#logo {
    width: 100%;
    height: auto;
}

#sub-container {
    padding-right: 30px;
    padding-left: 30px;
    flex-direction: column;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

#weeks-to-die {
    background-color: blue;
    color: yellow;
    border: 3px solid green;
    padding: 6px;
    border-radius: 15px;
}

#logo-container {
    margin: 0 20px 0 20px;
}